* {
	margin: 0 auto;
}


header {
	background: #83E2FF;
	width: 100%;
	height: 125px;
	margin-bottom: 10px;
}

nav {
	background: #83E2FF;
	width: 100%;
	height: 40px;
}

main {
	width: 100%;
	height: 500px;
	margin: 40px 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}


#sec1, #sec3 {
	background:  #83E2FF;
	margin: 0;
}

#sec1 {
	width: 20%;
	}

#sec2 {
	width: 60%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
}

#sec3 {
	width: 10%;
}

article {
	margin: 0;
	margin-bottom: 5%;
	background: #83E2FF;
	width: 27%;
	height: 150px;
}


footer {
	background: #83E2FF;
	width: 100%;
	height: 100px;
}

.top {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
}

.bottom {
	background: #83E2FF;
	width: 100%;
	height: 100px;
}